<a href="https://colab.research.google.com/github/AdithyaSA1944/21CSS101J-AdithyaRA24-C-Programs/blob/main/RA2211042010024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)print function

In [2]:
print("Hello World")

Hello World

2)\n function

In [3]:
print("Hello World\nMy name is Adithya")

Hello World
My name is Adithya

3)\t function

In [18]:
print("Hello World\n\tMy name is Adithya")

Hello World
	My name is Adithya

4)printing an integer

In [19]:
a = 5
print(a)

5

5)getting an input and printing the number

In [20]:
a = int(input("Enter a number : "))
print(a)

Enter a number : 5
5

6)sum

In [9]:
a = 10
b = 9
print(a + b)

19

7)subtraction

In [10]:
a = 30
b = 11
print(a - b)

19

8)Multiplication

In [11]:
a = 5
b = 10
print(a * b)

50

9)Division

In [12]:
a = 190
b = 10
print(a / b)

19.0

10)getting two numbers as input and finding their sum

In [13]:
a = int(input("Enter num1:"))
b = int(input("Enter num2:"))
sum = a + b
print("the sum =",sum)

Enter num1:5
Enter num2:10
the sum = 15

11)getting two numbers as input and finding their difference

In [14]:
a = int(input("Enter num1:"))
b = int(input("Enter num2:"))
diff = a - b
print("the difference =",diff)

Enter num1:10
Enter num2:5
the difference = 5

12)getting two numbers as input and finding their product

In [15]:
a = int(input("Enter num1:"))
b = int(input("Enter num2:"))
prod = a * b
print("the difference =",prod)

Enter num1:5
Enter num2:10
the difference = 50

13)getting two numbers as input and finding their quotient

In [16]:
a = int(input("Enter num1:"))
b = int(input("Enter num2:"))
quo = a / b
print("the difference =",quo)

Enter num1:190
Enter num2:10
the difference = 19.0

14)finding the biggest number

In [17]:
a = 5
b = 10
if (a > b):
  print(a, "is the biggest number")
else:
  print(b, "is the biggest number")

10 is the biggest number

15)finding the smallest number

In [21]:
a = 5
b = 10
if (a < b):
  print(a, "is the smallest number")
else:
  print(b, "is the smallest number")

5 is the smallest number

16)Getting two numbers as input and finding the biggest in them

In [22]:
a = int(input("Enter the first number : "))
b = int(input("Enter the second numer : "))
if (a > b):
  print(a, "is the biggest number")
else:
  print(b, "is the biggest number")

Enter the first number : 5
Enter the second numer : 4
5 is the biggest number

17)Getting two numbers as input and finding the smallest in them

In [23]:
a = int(input("Enter the first number : "))
b = int(input("Enter the second numer : "))
if (a < b):
  print(a, "is the smallest number")
else:
  print(b, "is the smallest number")

Enter the first number : 5
Enter the second numer : 4
4 is the smallest number